@using ToggleStore.Web.Services.Usuarios
@using ToggleStore.Web.FeatureToggles
@model IEnumerable<ToggleStore.Web.Models.ConteudoViewModel>
@inject IUsuarioService _usuarioService;
@{
    ViewData["Title"] = "Arquitetura";
}

<style>
    h4 {
        font-weight: 600;
    }

    p {
        font-size: 12px;
        margin-top: 5px;
    }

    .price {
        font-size: 30px;
        margin: 0 auto;
        color: #333;
    }

    .right {
        float: right;
        border-bottom: 2px solid #4B8E4B;
    }

    .thumbnail {
        opacity: 0.70;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

        .thumbnail:hover {
            opacity: 1.00;
            box-shadow: 0px 0px 10px #4bc6ff;
        }

    .line {
        margin-bottom: 5px;
    }

    @@media screen and (max-width: 770px) {
        .right {
            float: left;
            width: 100%;
        }
    }

    .product_view .modal-dialog {
        max-width: 800px;
        width: 100%;
    }

    .pre-cost {
        text-decoration: line-through;
        color: #a5a5a5;
    }

    .space-ten {
        padding: 10px 0;
    }
    .checked {
        color: orange;
    }

</style>
<div class="container">
    <h1>Fundamentos de Arquitetura</h1>
    <br />
    <div class="row">
        @{
            foreach (var conteudo in Model.OrderBy(c => c.Descricao))
            {
                <div class="col-md-4 col-sm-8">
                            <span class="thumbnail">
                                <img width="200" height="200" src="~/Images/@conteudo.Imagem" />
                                <h4>@conteudo.Nome</h4>
                                <p>@conteudo.Descricao</p>
                                <hr class="line">
                                @if (_usuarioService.ConteudoLiberado(CategoriaConteudo.Arquitetura, User))
                                {
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <a class="btn btn-info">Acessar Curso</a>
                                        </div>
                                    </div>
                                    <feature name="@FeatureTogglesConstantes.AvaliarCursos">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h4>Avalie</h4>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </feature>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <p class="price">@conteudo.Valor.ToString("C")</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <a class="btn btn-info">Saiba Mais</a>
                                        </div>
                                    </div>
                                }
                            </span>
                </div>
            }
        }
    </div>
</div>

